.cnae {
    text-align: center;
}
.cnae table, th, td {
    margin-top: 2%;
    border: 1px solid rgba(231, 228, 228, 0.952);
    border-collapse: collapse;
}

.cnae th {
    color: chocolate;
    padding: 10px;
}

.cnae td {
    color:blanchedalmond;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
}

.cnae table {
    margin-top: 1.5%;
    margin-bottom: 3.5%;
}


.tribid {
    text-align: right;
}

.tribname {
    text-align: left;
}

