.municipios {
    text-align: center;
}

.municipios table {
    margin-top: 1.5%;
}

.municipios table, th, td {
    border: 1px solid rgba(231, 228, 228, 0.952);
    border-collapse: collapse;
}

.municipios th {
    color: chocolate;
    padding: 10px;
}

.municipios td {
    color:blanchedalmond;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
}

.municipioid, .citylaw {
    text-align: right;
}

.municipioname {
    text-align: left;
}

