.flat {
    text-align: center;
}
.flat table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
}

.flat th {
    color: chocolate;
    padding: 10px;
}

.flat td {
    color:blanchedalmond;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
}

.flat table {
    margin-top: 1.5%;
    margin-bottom: 3.5%;
}


.flatid {
    text-align: right;
}

