.pessoa {
    text-align: center;
}

.pessoa table {
    margin-top: 2%;
    margin-bottom: 3.5%;
}

.pessoa tr {
    background-color: black !important;
}

.pessoa table, th, td {
    border: 1px solid rgba(231, 228, 228, 0.952);
    border-collapse: collapse;
}

.pessoa th {
    color: chocolate;
    padding: 10px;
}

.pessoa td {
    color:blanchedalmond;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
}

.pessoaid {
    text-align: right;
}

.pessoaname {
    text-align: left;
}

